# Tutorial on: split-apply-combine in Python's Pandas

Basically some tutorial on how python's `groupby` and `pivot_table` works. If you know the basic, you will understand that those two are actually the same. What it takes to be expert at Pandas? To be expert at Pandas, you clearly gotta read this Pandas API reference! It might be enough if you've done some project with dataframe but expert is on different level. So here's: https://pandas.pydata.org/pandas-docs/stable/api.html#id5. It might be still quite hard if you only read that docs, So I recommend you to also read this book.

At least it will increase your googling speed.

Let's just use the OnlineRetail.csv

In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('./data/OnlineRetail.csv')

In [16]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [17]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [20]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%m/%d/%Y %H:%M')
df['CustomerID'] = df['CustomerID'].astype('category')
df['InvoiceNo'] = df['InvoiceNo'].astype('category')
df['StockCode'] = df['StockCode'].astype('category')
df['Country'] = df['Country'].astype('category')

In [22]:
df.dtypes

InvoiceNo            category
StockCode            category
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID           category
Country              category
dtype: object

In [27]:
df[['CustomerID','Country']].groupby('Country')['CustomerID'].nunique()

Country
Australia                  9
Austria                   11
Bahrain                    2
Belgium                   25
Brazil                     1
Canada                     4
Channel Islands            9
Cyprus                     8
Czech Republic             1
Denmark                    9
EIRE                       3
European Community         1
Finland                   12
France                    87
Germany                   95
Greece                     4
Hong Kong                  0
Iceland                    1
Israel                     4
Italy                     15
Japan                      8
Lebanon                    1
Lithuania                  1
Malta                      2
Netherlands                9
Norway                    10
Poland                     6
Portugal                  19
RSA                        1
Saudi Arabia               1
Singapore                  1
Spain                     31
Sweden                     8
Switzerland               21
USA                        4
United Arab Emirates       2
United Kingdom          3950
Unspecified                4
Name: CustomerID, dtype: int64

In [28]:
df['CustomerID'].nunique()

4372

In [29]:
df['CustomerID'].unique()

[17850.0, 13047.0, 12583.0, 13748.0, 15100.0, ..., 13436.0, 15520.0, 13298.0, 14569.0, 12713.0]
Length: 4373
Categories (4372, float64): [17850.0, 13047.0, 12583.0, 13748.0, ..., 15520.0, 13298.0, 14569.0, 12713.0]

In [30]:
len(df['CustomerID'].unique())

4373